.shop{
  font-size: 2em;
    color: rgb(235, 74, 154);
    margin-left: 60px;
}
nav a{
   text-decoration: none;
   margin: 60px;
   justify-content: space-between;
   color: rgb(37, 35, 35);
   position: relative;
   font-size: 1.5em;
}
.img{
   width: 240px;
   height: 120px;
   margin-left: 800px;
   margin-top: 50px;
   background-image: url(images/aj.svg); 
}
.main{
    margin-left: 40px;
}
.word{
    margin-left: 40px;
}
.popular{
  text-align: center;
   font-size: 1.5em;
   margin-top: 350px;
   color: rgb(181, 77, 233);
}
